@page
@model IndexModel
@{
    ViewData["Title"] = "О приложении";
}
<h1>Тестовое задание на вакансию «C# разработчик»</h1>

<p class="card-text">
    Приложение Печеньки демонстрирует использование
    Entity Framework Core в приложении на ASP.NET Core Razor Pages.
</p>
<p class="card-text">
    В офисе есть некоторое количество сотрудников, которые потребляют печеньки. 
    Печеньки покупает один из них, после чего все остальные становятся должны ему стоимость печенек, поделенную на количество людей. 
    Сотрудники отдают долги в произвольный момент.
    Необходимо реализовать приложение, которое автоматизирует ведение учета и будет обладать следующим функционалом:
</p>
<p class="card-text">
    1) Отображение текущего баланса всех пользователей
</p>
<p class="card-text">
    2) Добавление покупки
</p>
<p class="card-text">
    3) Добавление платежа отдельного пользователя
</p>
<p class="card-text">
    По желанию:
</p>
<p class="card-text">
    4) Добавление и удаление пользователей
</p>
<p class="card-text">
    5) Все операции, кроме баланса, доступны только пользователям-администраторам.
</p>
