@page
@model test1_pechenki.Pages.Payments.EditModel

@{
    ViewData["Title"] = "Редактирование платежей и выплат";
}

<h1>Редактировать</h1>

<h4>Платеж (+)/Выплату(-)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Payment.PaymentID" />
            <div class="form-group">
                <label asp-for="Payment.UserID" class="control-label"></label>
                <select asp-for="Payment.UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="Payment.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.PaymentSum" class="control-label"></label>
                <input asp-for="Payment.PaymentSum" class="form-control" />
                <span asp-validation-for="Payment.PaymentSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.PaymentDate" class="control-label"></label>
                <input asp-for="Payment.PaymentDate" class="form-control" />
                <span asp-validation-for="Payment.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    // переопределение валидации на стороне клиента
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
</script>
}
